* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   align-items: center;
   background: hsl(275, 100%, 97%)
      url('./images/background-pattern-desktop.svg') no-repeat;
   background-size: contain;
   border: 1px solid red;
   display: flex;
   font-family: 'Work Sans', sans-serif;
   height: 100vh;
   justify-content: center;
   width: 100%;
}

img {
   height: 100%;
   width: 100%;
}
